<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #ram{
            height: 100px;
            border: 3px solid black;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        #ram a{
            text-decoration: none;
        }
    </style>
</head>
<body bgcolor="red">
   <div id="ram">
    <a href="/student/index">Home</a>
    <a href="/student/about">About</a>
    <a href="/student/courses">Courses</a>
    <a href="/student/contact">Contact</a>
   </div>

   <h1>this is home page</h1>

    
    
</body>
</html>