<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/college/index">Home</a>
    <a href="/college/about">About</a>
    <a href="/college/courses">Course</a>
    <a href="/college/faculty">Faculty</a>
    <a href="/college/contact">Contactus</a>

    <hr>

    <h1>this is about page</h1>
</body>
</html>